<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
  </head>
  <body>
    <form method="POST" action="/new">
      <h1>Add message:</h1>
      <div>
        <label for="user">name:</label
        ><input type="text" id="user" name="username" />
      </div>
      <div>
        <label for="text">message:</label
        ><input type="text" id="text" name="message" />
      </div>
      <button>Send</button>
    </form>
  </body>
</html>
