<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
  </head>
  <body>
    <div class="card">
      <h2 class="user"><%= message.user %>:</h2>
      <p class="text"><%= message.text %></p>
      <p class="date"><%= message.added %></p>
    </div>
    <a href="/"><button>back</button></a>
  </body>
</html>
